.color-families {
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  display: grid;
  grid-template-columns: 1fr
}

@media(min-width:768px) {
  .color-families {
    grid-template-columns: 1fr 1fr
  }
}

.color-families .family {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none
}

.color-families .family header {
  aspect-ratio: 16/9;
  margin: 0;
  margin-bottom: .75rem;
  padding: 0;
  padding: 1rem 2rem;
  border-radius: var(--pico-border-radius);
  border-color: transparent;
  text-align: left;
  cursor: pointer
}

.color-families .family main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .75rem
}

.color-families .family main>button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  margin-bottom: 0;
  padding: 0;
  border-width: 0;
  border-radius: var(--pico-border-radius);
  font-size: .75rem
}