.css-1rb1jn6 {
    display: block;
    width: 90px !important;
    height: 39px !important;
    max-width: 90px !important;
    max-height: 39px !important;
}

thead.docblock-argstable-head {
    color-scheme: light;
}