/* :root
{
    --heading-1-color: red;
    --link-color: blue;
}

h1 {
    color: var(--heading-1-color);
    padding: var(--spacing-2);
    a {
        text-decoration: none;
        color: var(--link-color)!important;
    }
} */