@media (min-width: 970px) {
    div.teaser-container.grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2rem;
    }
}

@media (min-width: 768px) {
    div.teaser-container.grid {
        grid-template-columns: repeat(2, 1fr);
    }
}